.main-nav{
    display: flex;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,p{
    margin: 0;
}

nav{
    justify-content: space-between;
    padding-top: 1rem;
}

ul li{
    margin-left: 2rem;
}

a{
    text-decoration: none;
}

header{
    height: 3rem;
}