.main-nav{
    display: flex;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,p{
    margin: 0;
}

nav{
    justify-content: space-between;
    padding-top: 1rem;
}

ul li{
    margin-left: 2rem;
}

a{
    text-decoration: none;
}

header{
    height: 3rem;
}

.sub-title{
    position: absolute;
    padding-left: 22%;
    bottom: 4rem;
    font-size: 4rem;
    font-weight: 900;
}

.about-me-title{
    text-align: center;
    color: blue;
    font-size: 2rem;
}

.about-data{
    display: flex;
}

#about-me{
    background-color: brown;
}

#project-title{
    text-align: center;
    color: blue;
    font-size: 2rem;
}

.content{
    position: relative;
    bottom: 40rem;
}